<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Заголовок страницы -->
    <title>{% block title %}{% endblock %}</title>

    <!-- <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favic.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap" rel="stylesheet" type="text/css" /> -->

</head>

<body>
    {% block body %}
    <p><b>Загаданное слово: </b>
        <p style="color: brown;">{{ guessed_word }}</p>
        </h1>
        <form action="" method="post">
            <input type="text" name="guess" id="guess" required>
            {% if guessed == 1 %}
            <p>Yeah! there are some more!</p>
            {% else %}
            <p>no, there no any word like that</p>
            {% endif %}
            <button type="submit">Check</button>
        </form>
    {% endblock %}
</body>

</html>